header div {
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
  gap: 60%;
}
.intro {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-size: 42px;
  /*max-width: 500px; */
}
