@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --white: white;
  --pitch-black: black;
  --cream-peach: rgba(245, 243, 255, 0.9);
  --black: #272044;
  --light-red: #fd4766;
  --deep-red: #f1092f;
  --dark-gray: #666;
  --light-gray: #a9a9a9;
  --lime: hsl(129, 100%, 95%);
  --light-blue: hsl(218, 100%, 93%);
  --lime-deep: hsl(129, 74%, 67%);
  --dark-blue: hsl(218, 77%, 71%);
}
body {
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(var(--dark-blue), var(--lime-deep));
  color: var(--white);
}

header div {
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
  gap: 60%;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 75px;
}
.intro h1 span {
  color: var(--light-red);
}
.intro p span {
  color: var(--light-red);
  font-weight: 700;
}
.intro {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-size: 42px;
}
.background {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
  background-color: var(--cream-peach);
  color: var(--black);
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.btn {
  color: var(--white);
  padding: 16px 40px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500px;
  letter-spacing: 2px;
  display: inline-block;
  text-transform: uppercase;
  background: var(--light-red);
  background-size: 152% 100%;
  border: 2px solid var(--light-red);
  border-radius: 500px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  background: transparent;
  border-color: var(--light-red);
  color: var(--light-red);
}

.sub-heading {
  font-size: 50px;
  padding: 20px 10px 20px 10px;
}
.skills-buttons {
  font-size: small;
  font-weight: 500;
  padding: 6px;
  color: var(--pitch-black);
  margin: 5px 10px;
  border: none;
  border-radius: 10px;
  background-color: var(--white);
}

ul {
  list-style-type: none;
}
.to-flex {
  display: flex;
  justify-content: space-evenly;
}
.project {
  border-radius: 5px;
  background-color: #73ceab;
  flex: 1;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.project-name {
  font-weight: 500;
}
.project-description {
  font-size: medium;
}
.link-btn {
  background-color: #ff7171;
  color: var(--white);
  font-weight: 600;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}
.link-btn:hover {
  background-color: var(--white);
  color: #ff7171;
}
.lets-connect {
  text-align: center;
  font-size: 64px;
  padding: 10px 5px;
}

ion-icon {
  font-size: 64px;
}
[name="location-outline"] {
  color: var(--deep-red);
  font-size: 150px;
  display: block;
  margin: auto;
}
[name="logo-linkedin"] {
  margin-left: 20px;
}

.social-links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
  margin-bottom: 40px;
}
a:link {
  color: var(--black);
  text-decoration: none;
}
a:visited {
  color: var(--black);
}
a:hover {
  color: rgba(19, 18, 18, 0.637);
}
.footer {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 24px;
}

.contact-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 80%;
  margin: 0 auto;
}
.social-container {
  width: 30%;
  display: block;
  margin: 0 auto;
  align-content: center;
}
.email-container {
  width: 70%;
}
.connect-title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}
.email-title {
  width: 70%;
  margin: 10px auto;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}

.contacts-input {
  display: block;
  margin: 0 auto;
  padding-left: 25px;
  width: 70%;
  margin-bottom: 25px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 50px;
  font-weight: 500;
  color: var(--dark-gray);
}
.email-container textarea {
  height: 150px;
  padding-top: 15px;
  border-radius: 20px;
}

.contacts-input:focus {
  border: 2px solid var(--light-red);
}
.contacts-input::placeholder {
  color: var(--light-gray);
}
.email-container button {
  display: block;
  margin: 0 auto;
}
hr {
  margin-top: 10px;
}
