@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  /*background-color: #fce7f3; */
  background-color: #f5f3ff;
}

header div {
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
  gap: 60%;
}
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 75px;
}
.intro h1 span {
  color: #fd4766;
}
.intro p span {
  color: #fd4766;
  font-weight: 700;
}
.intro {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-size: 42px;
  /*max-width: 500px; */
}
.background {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
}
.hand-guide {
  font-size: 30px;
}
.btn {
  color: #fff;
  padding: 16px 40px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500px;
  letter-spacing: 2px;
  display: inline-block;
  text-transform: uppercase;
  background: #fd4766;
  background-size: 152% 100%;
  border: 2px solid #fd4766;
  border-radius: 500px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  background: transparent;
  border-color: #fd4766;
  color: #fd4766;
}
.skills {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
.my-skills {
  font-size: 50px;
  padding: 20px 10px 20px 10px;
}
.skills-buttons {
  /*display: flex;
  justify-content: space-between;
  gap: 20%; */
  font-size: 18px;
  padding: 8px;
  color: #666;
  margin: 20px 40px 20px 40px;
  border: none;
  border-radius: 20px;
  background-color: white;
}
.project-container {
  position: relative;
  text-align: center;
  color: white;
}
.project-container img {
  height: 300px;
  width: 40%;
  border: 5px solid #f1092f;
  display: block;
  margin: 0 auto;
  border-radius: 50px;
  /*opacity: 0.6; */
}
.project-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*background-color: #f5f3ff;
   padding: 16px 40px;
  border-radius: 50px;
  font-weight: 700;
  letter-spacing: 2px; */
}

.lets-connect {
  text-align: center;
  font-size: 64px;
  padding: 10px 5px;
}

ion-icon {
  font-size: 64px;
}
[name="location-outline"] {
  color: #f1092f;
  font-size: 150px;
  display: block;
  margin: auto;
}
[name="logo-linkedin"] {
  margin-left: 20px;
}
.social-links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
  margin-bottom: 40px;
}
a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
}
a:hover {
  color: rgba(19, 18, 18, 0.637);
}
.footer {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 24px;
}

.contact-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 80%;
  margin: 0 auto;
}
.social-container {
  width: 30%;
  display: block;
  margin: 0 auto;
  align-content: center;
}
.email-container {
  width: 70%;
}
.connect-title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}
.email-title {
  width: 70%;
  margin: 10px auto;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}

/*textarea, input {
  display: block;
  margin: auto;
  width: 70%;
}*/
.contacts-input {
  display: block;
  margin: 0 auto;
  padding-left: 25px;
  width: 70%;
  margin-bottom: 25px;
  height: 50px;
  border: none;
  /*border: 2px solid black;  to remove */
  outline: none;
  border-radius: 50px;
  font-weight: 500;
  color: #666;
}
.email-container textarea {
  height: 150px;
  padding-top: 15px;
  border-radius: 20px;
}

.contacts-input:focus {
  border: 2px solid #fd4766;
}
.contacts-input::placeholder {
  color: #a9a9a9;
}
.email-container button {
  display: block;
  margin: 0 auto;
  /*padding: 15px 30px;
  color: blue;
  font-size: 16px;
  border-radius: 50px;
  cursor: pointer;
  background: linear-gradient(270deg, pink, green); */
}
hr {
  margin-top: 10px;
}
